.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
